* {
    margin: 0;
    padding: 0;
}

header{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.menu{
    display: flex;
    justify-content: space-around;
    
}

.menu:hover{
    color: #13C2C2;
    cursor: pointer;
}

#button-navbar{
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

button{
    cursor: pointer;
}

#login{
    width: 89px;
    height: 32px;
    border: 1px solid #36CFC9;
    background-color: #fff;
    border-radius: 10px;
    padding: 4px 15px;
    color: #36CFC9;
}

#login:hover{
    background-color: #EBFFFE;
}

#register{
    width: 89px;
    height: 32px;
    border: 1px solid #36CFC9;
    background-color: #36CFC9;
    border-radius: 10px;
    padding: 4px 15px;
    color: #FFFFFF;
}

#register:hover{
    background-color: #28A19C;
}